$primary-color: #fff159;

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar {
  @extend .center;
  background-color: $primary-color;
  padding: 10px;

  .logo {
    margin-right: 20px;

    .logo-img {
      height: 30px;
      cursor: pointer;
    }
  }

  .search-bar {
    display: flex;
    align-items: center;
    flex-grow: 0.5;
    margin-right: 20px;
    height: 40px;
    max-height: 100%;
    width: auto;

    .search-bar-input {
      width: 100%;
      padding: 8px;
      border: none;
      border-right: none;
      font-size: 14px;
      color: #333;
      outline: none;

      &::placeholder {
        color: #999;
      }
    }

    .search-bar-button {
      background-color: #ebebeb;
      border: none;
      padding: 8px;
      cursor: pointer;
      height: 90%;
      object-fit: contain;

      .search-bar-button-logo {
        height: 100%;
        object-fit: contain;
      }
    }
  }
}
